streamlit
pandas
python-dotenv
streamlit-shadcn-ui
openai
google-genai
ollama
pydantic
fastapi
uvicorn
python-multipart
twilio
SpeechRecognition
streamlit-mic-recorder
phonenumbers
psycopg2-binary
# Optional: redis
# Optional: supabase
